<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://nacodawaschalk.netlify.com">Nacoda Waschalk</a>
  </p>
  <br>
  <p>
    Nacoda is a student in the University of Denver's online Coding Bootcamp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'Portfolio Headshot.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Nacoda Waschalk</h2>
        <br>
        <p>
          Nacoda Waschalk is a self taught musician, artist, and web developer, as well as an outdoor enthusiast. His mission as a full-stack developer is to design and create stunningly beautiful, functional, and user-friendly websites with the inspirations of his passions, intergrated together harmoniously.
        </p>
      </div>
    </div>

    <br class="clear">
    <br>
    <br>
    <br>
    <br>


</div>